* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Slabo 27px', monospace;
  color: #333;
}

html, body {
  height: 100%;
}

body {
  background: #7eff83;
  background: -moz-linear-gradient(top, #7eff83 0%, #77ef7d 44%, #66cc71 100%);
  background: -webkit-linear-gradient(top, #7eff83 0%,#77ef7d 44%,#66cc71 100%);
  background: linear-gradient(to bottom, #7eff83 0%,#77ef7d 44%,#66cc71 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eff83', endColorstr='#66cc71',GradientType=0 );

  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #2eca7f 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #2eca7f 100%);
}

/* MAIN ALBUMS VIEW */
.albums-container {
  padding: 20px;

  /*testing*/
  /*border: 3px solid blue;*/
  /*width: 75%;*/
  margin: 0 auto;
}

.albums img {
  width: 150px;
  border: 5px solid #fff;
  border-radius: 4px;
}

.albums {
  display: flex;
  list-style: none;
  padding-left: none;

  /*testing*/
  /*border: 2px solid red;*/
}

.albums li {
  margin: 10px;

  /*testing*/
  /*border: 2px solid yellow;*/
}

.albums p {
  margin-top: 0;
  margin-bottom: 35px;
}